.container {
  max-width: 1140px;
  margin: 0 auto;
}

.jcc {
  display: flex;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.color-white {
  color: #fff;
}

.color-black {
  color: #000;
}

.pt-10 {
  padding-top: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-30 {
  padding-top: 30px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.w-50 {
  width: 50%;
}

.h-50 {
  height: 50%;
}
